{{define "content"}}


<div class="about-container">

  <h2>About The Project</h2>
  <p>
    This project is a web-based ASCII Art generator that allows users to convert text into creative ASCII designs using
    different fonts.
  </p>

  <h3>How It Works</h3>
  <p>
    Users can enter text, choose a font style, and generate ASCII art instantly through a simple and interactive web
    interface.
  </p>

  <h3>Features</h3>
  <ul>
    <li>Multiple fonts (standard, shadow, thinkertoy)</li>
    <li>Simple and clean user interface</li>
    <li>Fast rendering using Go backend</li>
    <li>Support for multi-line input</li>
  </ul>

  <h3>Technologies Used</h3>
  <ul>
    <li>Go (Backend)</li>
    <li>HTML & CSS (Frontend)</li>
  </ul>

  <h3>Project Goal</h3>
  <p>
    The goal of this project is to practice building web servers in Go and creating interactive user interfaces.
  </p>

  <h3>Author</h3>
  <p>
    Made by:
    Enas Essam && mostafa mahmoud
  </p>

</div>
{{end}}