<!DOCTYPE html>
<html>
<body>

<form>

<input type="text" name="text">

<br><br>

<select name="font">
  <option value="standard">standard</option>
  <option value="shadow">shadow</option>
  <option value="thinkertoy">thinkertoy</option>
</select>

<br><br>

<select name="color">
  <option value="">no color</option>
  <option value="red">red</option>
  <option value="green">green</option>
  <option value="blue">blue</option>
</select>

<button>Send</button>

</form>
<br><br>

<pre>{{.Result}}</pre>
</body>
</html>