{{define "index"}}
{{template "page-start" .}}

<form action="/ascii-art" method="POST">
  <div class="main-box">

    <!-- input box -->
    <div class="input-box">
      <label class="visually-hidden" for="text">Text to convert</label>
      <textarea id="text" name="text" placeholder="Enter your text...">{{.Text}}</textarea>
    </div>

    <!-- options -->
    <div class="options">

      <!-- FONT -->
      <div class="select-box">
        <label class="visually-hidden" for="font">Banner font</label>
        <select id="font" name="font">
          <option value="" disabled hidden {{if not .Font}}selected{{end}}>Font</option>

          <option value="standard" {{if eq .Font "standard" }}selected{{end}}>Standard</option>
          <option value="shadow" {{if eq .Font "shadow" }}selected{{end}}>Shadow</option>
          <option value="thinkertoy" {{if eq .Font "thinkertoy" }}selected{{end}}>Thinkertoy</option>
        </select>
      </div>

      <div class="color-select-box">
        <label class="visually-hidden" for="color">Text color</label>
        <select id="color" name="color">
          <option value="" disabled hidden {{if not .Color}}selected{{end}}>
            Color
          </option>
          <option value="red" {{if eq .Color "red" }}selected{{end}}>🔴 Red</option>
          <option value="blue" {{if eq .Color "blue" }}selected{{end}}>🔵 Blue</option>
          <option value="green" {{if eq .Color "green" }}selected{{end}}>🟢 Green</option>
          <option value="purple" {{if eq .Color "purple" }}selected{{end}}>🟣 Purple</option>
          <option value="orange" {{if eq .Color "orange" }}selected{{end}}>🟠 Orange</option>
        </select>
      </div>

    </div>
    <!-- button -->
    <button type="submit">Generate</button>

    <!-- output -->
    <div class="output-box">
      <pre {{if .Color}}style="color: {{.Color}}" {{end}}>{{.Result}}</pre>
    </div>

  </div>
</form>
{{template "page-end" .}}
{{end}}