body {
  margin: 0;
  

 background: linear-gradient(
  130deg,
  #ff8c00 0%,
  #ff4500 55%,
  #1a1a1a 5%
);
  min-height: 100vh;
  color: rgb(237, 233, 233);
  font-family: Arial;
   position: relative;
  z-index: 0;
}

body::after {
  content: "";
  position: absolute;


   bottom: 35%;
  right: 25%;

  width: 22vw;
  height: 22vw;

  max-width: 300px;
  max-height: 300px;

  background: url("/static/flower.png") no-repeat center;
  background-size: contain;


  pointer-events: none;

  z-index: -1; /* 👈 أهم سطر */
}
/* navbar */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
  background: rgba(0,0,0,0.6);
}

.nav-right {
  display: flex;
  gap: 20px;
}

.nav-item {
  text-decoration: none;
  color: white;
  font-weight: bold;
}

.nav-item:hover {
  color: #ff8c00;
}

.logo {
  text-decoration: none;
  color: #ff8c00;
  font-weight: bold;
  font-size: 20px;
}

/* layout */
.container {
  display: flex;
  padding: 30px;
  gap: 30px;
  
}

.left, .right {
  width: 50%;
}

/* الفورم */
.form-box {
  width: 380px;
  padding: 15px;

  display: flex;
  flex-direction: column;
  gap: 15px;

  background: rgba(255, 255, 255, 0.12);
  border-radius: 20px;

  backdrop-filter: blur(15px);

  box-shadow: 0 8px 25px rgba(0, 0, 0, 0.4); 
}

/* مربع النص */
textarea {
  width: 350px;
  min-height: 120px;
  max-width: 100%;

  padding: 10px;
  border-radius: 10px;
  border: none;
  resize: vertical;
  text-align: left;        /* يخلي الكلام في الشمال */
  font-size: 25px;
  transition: all 0.2s ease;
}
textarea::placeholder {
  text-align: center;
  font-size: 18px;
  color: #777;
}

/* الأوبشنز جنب بعض */
.options {
  display: flex;
  gap: 10px;
  align-items: center;
}

/* select */
select {
  padding: 8px;
  border-radius: 8px;
  border: none;
}

/* color مستطيل */
input[type="color"] {
  width: 40px;
  height: 30px;
  border: none;
  padding: 0;
  cursor: pointer;
}

/* الزرار */
button {
  padding: 8px 15px;
  border-radius: 8px;
  border: none;
  background: #ff8c00;
  color: black;
  font-weight: bold;
  cursor: pointer;
}
button {
  width: 150px;
  align-self: center; /* 👈 يخليه في النص */
}

button:hover {
  background: #ff6a00;
}

.fonts {
  display: flex;
  gap: 10px;
}
.fonts label {
  background: rgba(255,255,255,0.1);
  padding: 6px 10px;
  border-radius: 8px;
  cursor: pointer;
}

/* نخبي الدائرة */
.fonts input {
  display: none;
}
.fonts span {
  color: white;
  font-weight: bold;
}

/* لما يتختار */
.fonts input:checked + span {
  color: orange;
}
.fonts label:hover span {
  color: orange;
}

.colors {
  display: none; /* 👈 مهم */
  position: absolute;
  top: 40px;

  background: rgba(0,0,0,0.8);
  padding: 10px;
  border-radius: 10px;

  gap: 8px;
  flex-wrap: wrap;
  width: 120px;
}

.color-wrapper {
  position: relative;
  display: inline-block;
}

/* الزرار */
.color-button {
  width: 45px;          /* 👈 حجم ثابت */
  height: 45px;
  display: flex;
  align-items: center;
  justify-content: center;

  font-size: 22px;      /* 👈 يكبر الإيموجي */
  
  background: rgba(255,255,255,0.1);
  border-radius: 10px;
  cursor: pointer;

  transition: 0.2s;
}

.color-button:hover {
  transform: scale(1.1);
}

/* القائمة */


/* كل لون */
.colors span {
  width: 25px;
  height: 25px;
  display: block;
  border-radius: 6px;
}

/* نخبي الراديو */
.colors input {
  display: none;
}

/* لما تختاري */
.colors input:checked + span {
  outline: 2px solid white;
}
.color-wrapper {
  position: relative;
}
.colors.show {
  display: flex;
}
.result-box {
  margin-top: 25px;
  padding: 20px;

  background: rgba(0,0,0,0.4);
  border-radius: 15px;

  backdrop-filter: blur(10px);

  width: 380px;
}

/* النص جوه */
.result-box pre {
  white-space: pre;
  font-family: monospace;
  font-size: 10px;
  font-weight: bold;

 text-align: center; ;
}

/* الصورة في الكورنر */
.right {
  position: fixed;   /* 👈 تثبيت */
  bottom: 100px;      /* 👈 تحت */
  right: 100px;       /* 👈 يمين */

}

/* الصورة */
.gallery-img {
  width: 120px;       /* 👈 تتحكمي في الحجم */
  height: auto;

  border-radius: 15px;

  object-fit: cover;

  box-shadow: 0 5px 20px rgba(0,0,0,0.5);

  transition: 0.3s;
}
.gallery-img:hover {
  transform: scale(1.05);
  box-shadow: 0 8px 30px rgba(0,0,0,0.7);
}

.ascii-history-text {
  position: static;   /* 👈 يرجع طبيعي */
  right: 40px;
  top: 120px;
   margin-left: auto;   /* يدفع العنصر إلى أقصى اليمين */
  margin-right: 40px;  /* مسافة بسيطة من الحافة اليمنى */

  width: 320px;

  color: white;

  line-height: 1.9;
  font-size: 15px;

  text-align: right;

  opacity: 0.95;
}

/* العنوان */
.ascii-history-text h2 {
  color:hsl(25, 73%, 78%);
  margin-bottom: 15px;
  font-size: 20px;
}

/* الفقرات */
.ascii-history-text p {
  margin-bottom: 12px;
}

/* الجملة المهمة */
.highlight {
  color: hsl(25, 73%, 78%);
  font-weight: bold;
  font-size: 25px;
}
/* animation setup */
.ascii-history-text p {
  opacity: 1;
  transform: none;
}

.ascii-history-text h2 {
  opacity: 1;
  transform: none;
}




@media (max-width: 768px) {
body::after {
    bottom: 2%;
    right: 50%;
    transform: translateX(50%);

    width: 40vw;
    height: 40vw;

    opacity: 0.4;
  }

  .container {
    flex-direction: column;
  }

  .right {
    position: static;   /* 👈 أهم سطر */
    order: 3;           /* 👈 يخليها آخر حاجة */
    text-align: center;
    margin-top: 20px;
  }

  .ascii-history-text {
    position: static;   /* 👈 يرجعه طبيعي */
    order: 2;
    width: 100%;
    margin-top: 20px;
  }

  .left {
    order: 1;
  }

}

.about-container {
  display: flex;
  flex-direction: column; /* 👈 ده السحر */
  gap: 10px;

}

.about-container {
  width: 600px;
  margin-left: 10px;
}